<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Lucas Barbosa de Oliveira</title>
</head>
<body>

  <i class="bi bi-list menu-mobile"></i>
    
    <aside id="header">
        <section class="profile">
            <img src="../static/img/pp.jpg" alt="Foto de Lucas">
            <h1>Lucas Barbosa de Oliveira</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/lucasbarbosadeoliveira-78">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/luquita78">
                    <i class="bi bi-github"></i>
                </a>
                
                
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house" aria-hidden="true"></i>Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"> <i class="bi bi-person"> </i>Sobre mim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"> <i class="bi bi-list-check"></i>Habilidades</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#curriculo">  <i class="bi bi-clipboard2"> </i>Currículo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portifolio">  <i class="bi bi-collection"> </i>Portifolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"> <i class="bi bi-envelope"> </i>Contato</a>
                  </li>
            </ul>     

        </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div class="col-md-14 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-white text-shadow">Lucas Barbosa de Oliveira</h2>
          <span id="subtitle" class="text-white text-shadow">Desenvolvedor</span>
        </div>
        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="align-items-center">
            <a href="#sobre"> <i class="bi bi-arrow-down-circle-fill text-white pe-2 fs-2"aria-hidden="true"></i> Saiba mais!</a>
          </div>
        </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12">
            <h2 class="pt-3">Sobre mim</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Beatae voluptates hic inventore accusantium necessitatibus 
              optio ipsa, quis reiciendis eligendi consectetur. Eaque rem 
              recusandae possimus veritatis 
              ipsa officia eligendi ducimus suscipit.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ut sunt veniam, quibusdam praesentium veritatis ipsa. 
              Tenetur explicabo fugiat voluptates omnis autem adipisci,
              cupiditate aperiam repellat pariatur quas est consectetur. Ab.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Soluta delectus, suscipit asperiores voluptate recusandae 
              dolorem itaque esse. Voluptas, facere deleniti ea ipsa, 
              nulla aperiam placeat ut veniam 
              dolorum dignissimos dolorem?
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col md-4">
            <img class="img-fluid shadow foto-sobre" src="../static/img/pp.jpg" alt="Foto de Lucas">
          </div>
          <div class="col-md-8 mt-4" data-anime="right">
            <h3>Experiência Profissional</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum placeat facilis culpa deserunt animi in enim quidem, 
              cupiditate dolore, numquam voluptatem. Nemo recusandae nostrum neque, 
              et enim corporis voluptate amet.</p>

              <div class="row mt-3 mb-3">
                <div class="col md-12">
                  <ul class="list-group list-group-flush fs-5">
                      <li class="list-group-item">Autonômo: <span class="fw-lighter">
                        Editor de Vídeo | Cameraman | Operador de Corte
                      </span></li>
                      <li class="list-group-item">
                        Amcor Latin America :
                        <span class="fw-lighter">Inspetor de Qualidade I</span>
                      </li>
                      <li class="list-group-item">Bemis Latin America :
                        <span class="fw-lighter"> Inspetor de Qualidade I</span>
                      </li>
                      <li class="list-group-item">Bemis Latin America :
                        <span class="fw-lighter"> Aprendiz de Qualidade</span>
                      </li>
                  </ul>
                </div>
              </div>

          </div>
        </div>
        <div class="row w-100">
          <h3>Alguns Hobbies</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Corrupti doloribus laboriosam dolor labore voluptates eligendi 
            ex veniam eaque vitae quos! Corporis,
            facere deserunt voluptatem itaque minima neque necessitatibus quae amet.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Praesentium ipsam aut illo earum possimus nobis doloribus 
            maiores officiis soluta 
            itaque autem, deserunt nam facilis quis quibusdam eum aliquid optio iure?</p>
        </div>
      </section>

     

      <section class= "mt-5 section-bg" id="habilidades">
        
        <div class="container pb-5">

          

          <h2 class="pt-5">Habilidades</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptatem 
            saepe quaerat eaque quae, voluptatibus laboriosam expedita dolorum officiis illum commodi.
            Expedita harum possimus nesciunt, voluptatibus nam labore facilis aspernatur.</p>
         
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML5</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>

              <p class="mt-3 mb-0">CSS</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>

              <p class="mt-3 mb-0">JavaScript</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
              </div>

              <p class="mt-3 mb-0">C#</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>

              <p class="mt-3 mb-0">Python</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
              </div>

              <p class="mt-3 mb-0">Java</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
              </div>

            </div>

            <div class="col-md-6">

              <p class="mt-3 mb-0">Node.JS</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
              </div>

              <p class="mt-3 mb-0">Bootstrap</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 94%;" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">94%</div>
              </div>

              <p class="mt-3 mb-0">.NET</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 68%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">68%</div>
              </div>

              <p class="mt-3 mb-0">MySQL</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>

              <p class="mt-3 mb-0">MongoDB</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
              </div>

              <p class="mt-3 mb-0">C</p>
              <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
              </div>

            </div>

          </div>

          <hr class="w-50 me-auto ms-auto">

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Proativo</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
              </div>

              <p class="mt-3 mb-0">Empatia</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>

              <p class="mt-3 mb-0">Resiliência</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 88%;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">88%</div>
              </div>

              <p class="mt-3 mb-0">Comprometimento</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>

            </div>

            <div class="col-md-6">

              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 88%;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">88%</div>
              </div>

              <p class="mt-3 mb-0">Escrita</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>

              <p class="mt-3 mb-0">Trabalho em Equipe</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>

              <p class="mt-3 mb-0">Ética</p>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>

            </div>

          </div>
        </div>
      </section>

      <section class="mt-5 cv" id="curriculo">
        <div class="container pb-5">

          <h2 class="pt-3 pb-4">Currículo</h2>

          <div class="row">

            <div class="col-md-6">

              <h3 class="cv-title">Educação</h3>

              <div class="cv-item">
                <h4>Análise e Desenvolvimento de Sistemas</h4>
                <h5>2020 - 2022</h5>
                <p><em>Universidade Municipal de São Caetano do Sul</em></p>
                <p>Visa desenvolver competências profissionais para o que o 
                  profissional da área de Análise e Desenvolvimento de 
                  Sistemas possa atuar no desenvolvimento de projetos de sistemas 
                  de informação nos diversos cenários tecnológicos: Web, Mobile e
                  Cliente Servidor</p>
              </div>

              <div class="cv-item">
                <h4>Engenharia da Computação</h4>
                <h5>2017 - 2019</h5>
                <p><em>Universidade Metodista de São Paulo</em></p>
                <p>O curso de Engenharia de Computação habilita a pessoa para trabalhar com o 
                  desenvolvimento e planejamento de softwares e hardwares. Com essa formação, ela
                  poderá projetar, programar e gerenciar sistemas 
                  computacionais, além de criar e projetar computadores, periféricos e circuitos.</p>
              </div>

              <div class="cv-item">
                <h4>Técnico de Informática</h4>
                <h5>2012 - 2012</h5>
                <p><em>ETEC Ribeirão Pires</em></p>
                <p>O técnico em informática é um profissional que tem entre suas
                  responsabilidades a montagem, acabamento e manutenção de computadores,
                  além da identificação e correção de problemas em aparelhos eletrônicos.
                  Ele também instala e configura redes e softwares, trabalhando no desenvolvimento 
                  de sistemas e websites, o que o leva a atuar tanto em redes domésticas 
                  quanto empresariais (privadas e públicas)</p>
              </div>

            </div>

            <div class="col-md-6">

              <h3 class="cv-title">Profissional</h3>

              <div class="cv-item">
                <h4>AudioVisual</h4>
                <h5>2021 - Atualmente</h5>
                <p><em>Autonômo</em></p>
                <p>Trabalho como editor de vídeo, foto e áudio. 
                  Também realizo lives operando a mesa de corte ou a câmera.</p>
              </div>

              <div class="cv-item">
                <h4>Inspetor de Qualidade I</h4>
                <h5>2018 - 2021</h5>
                <p><em>Amcor</em></p>
                <p>Durante meu período de trabalho na Amcor, fui responsável por realizar 
                  testes de qualidade durante a produção; Treinar outros setores sobre os 
                  conceitos e ferramentas da qualidade; Participar como representante da 
                  qualidade em projetos de melhoria, colocando em prática as ferramentas 
                  estratégicas de qualidade.</p>
              </div>

              <div class="cv-item">
                <h4>Aprendiz de Qualidade</h4>
                <h5>2016 - 2018</h5>
                <p><em>Bemis Latin America</em></p>
                <p>Durante meu período de trabalho como aprendiz na Bemis, fui 
                  responsável por realizar testes de qualidade durante a produção; 
                  Aprender e colocar em prática ferramentas estratégicas da qualidade.</p>
              </div>

          </div>
        </div>
      </section>

    </main>
  

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>